<div class="row">
  <div class="col-xs-12">
    <div class="list-group mt-2">
      <a
        href="#"
        class="list-group-item list-group-item-action-flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Building Furniture</h5>
          <small class="text-muted">Description</small>
        </div>
        <p class="mb-1">
          Each project at Mountain Woods Furniture began as rough-cut lumber and
          a page of dimensions. I was responsible for every step of making
          furniture, from surfacing the wood, to building face frames, and
          finally creating and adding trim.
        </p>
        <small class="text-muted">Mountain Woods Furniture</small>
      </a>
    </div>
  </div>
</div>
